<!DOCTYPE html>
<html lang="en">
  <head>
  <title>Python</title>
   <link rel="stylesheet" href="../static/css/style.css"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
    <!-- Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   </head>
   <body style="background-color:lightgrey">
     <p><img src="../static/images/python.png" width="400" height="200"></p>
<br>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
      </div>
      <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a style="background-color:lightgrey" href="index.html">Main</a></li>
            <li><a href="contact.html">Contacts</a></li>
            <li><a href="student_list.html">Students</a></li>
      </ul>
      <div class="container">
      <div class="header clearfix">
<br>
      </div>
       <div class="jumbotron">
        <h1>Academy Course Description: Why Python?</h1>
        <p class="lead">Python is a widely used general-purpose, high-level programming language.Its design philosophy emphasizes code readability, and its syntax allows programmers to express concepts in fewer lines of code than would be possible in languages.The language provides constructs intended to enable clear programs on both a small and large scale.Python supports multiple programming paradigms, including object-oriented, imperative and functional programming or procedural styles.</p>
 </div>
          <div class="row">
            <div class="col-xs-6 col-lg-4">
              <h2 class="my_header">Program</h2>
              <li class="lin">Basics of Python</li>
              <li class="lin">Functions and modularity</li>
              <li class="lin">Object-oriented programming</li>
              <li class="lin">Web Technologies</li>
              <li class="lin">Django, HTTP, app</li>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2 class="my_header">PyAcademy</h2>
              <li class="lin"> Basic material will be given as video course, with pdf reading course, after each topic there will be practice and tests to pass.</li>
            </div><!--/.col-xs-6.col-lg-4-->
            <div class="col-xs-6 col-lg-4">
              <h2 class="my_header">After python course</h2>
              <li class="lin">Start writing small programs yourself</li>
              <li class="lin">Contribute to any open source project</li>
              <li class="lin">Teach Python</li>
              <li class="lin">Get projects from surroundings</li>
                
            </div><!--/.col-xs-6.col-lg-4-->
      </div>
<br>
<br>
  </body>
</html>

