<!DOCTYPE html>
<html lang="en">
  <head>
    <title>yuriireshetylo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
   <body style="background-color:lightgrey">
<br>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
      </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header"><strong>Yurii Reshetylo:</strong></h1>
<br>
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="../static/images/1_A.png" width="300" height="250">
          </div>
        <div class="page-header">
            <h1>Student Information</h1>
        </div>
            <ul class="list-group">
            <li class="list-group-item"><b>Surname:</b> Reshetylo</li>
            <li class="list-group-item"><b>Name:</b> Yurii</li>
            <li class="list-group-item"><b>Patronymic:</b> Olekseevich</li>
            <li class="list-group-item"><b>Birth Date:</b> 10.02.1991</li>
            <li class="list-group-item"><b>Address:</b> Lviv, Ukraine</li>
            <li class="list-group-item"><b>E-mail:</b> yurii.reshetylo@oracle.com</li>      
            <li class="list-group-item"><b>Skype:</b> yurii_reshetylo</li>
          </ul>
        <div class="page-header">
          <h1 align="left">Performance</h1>
          <table border="1" cellspacing="1" cellpadding="1" width="100%">
           <thead> 
            <th>Python Course</th>
            <th>Week</th>
            <th>Control Type</th>
            <th>Marks</th>
           </thead> 
             <tbody> 
              <tr> 
               <td rowspan="5"> Basics of Python</td>
               <td rowspan="3"> Week1 </td>
               <td>Test1</td>
               <td>100%</td>
              </tr>
            <tr>
             <td>Prectice</td>
             <td>100%</td>
            </tr>
             <tr>
              <td> Test1 </td>
              <td> 100%</td>
             </tr>
              <tr>
                <td rowspan="2"> Week2 </td>
                <td>Practice</td>
                <td>100%</td>
              </tr>
               <tr>
                <td>Test2</td>
                <td>100%</td>
               </tr> 
           </tbody> 
          </table>
         </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
<br>
<br>
  </body>
</html>      

